<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.architecturaldigest.com/photos/55e76564cd709ad62e8e7796/master/pass/dam-images-architecture-2015-01-web-toc-theaters-historic-american-theaters-01-thalian-hall.jpg);">
  <div class="container">
    <h1>Create lists of your <strong>favorite movies</strong><br> and <strong>movies you'd love to see</strong>!</h1>
    <p>Don't get out! Stay home!</p>
  </div>
</div>

<div class="container">
  <h1>Movie Lists:</h1>

    <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
      list name
    </div>

  </div>


</div>
