.navbar-lewagon {
  margin: 0, auto;
  justify-content: center;
  background: maroon;
  border: 5px double goldenrod;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  justify-content: center;

}

.nav-item {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 700;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: auto;
}

.nav-item :hover {
  color: white;
}
